@import "tailwindcss";

@layer base {
    body {
        @apply bg-[#FFC0CB] font-sans;
    }
}

.font-serif {
    font-family: 'Playfair Display', serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}